# App
NODE_ENV=development
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000

# Backend
NEXT_PUBLIC_BE_URL=http://localhost:3000

# Auth0
NEXT_PUBLIC_AUTH0_DOMAIN=your-domain.auth0.com
NEXT_PUBLIC_AUTH0_CLIENT_ID=your-client-id
NEXT_PUBLIC_AUTH0_AUDIENCE=https://api.your-domain.com

# Environment (development, staging, production)
NEXT_PUBLIC_ENVIRONMENT=development

# Sentry
NEXT_PUBLIC_SENTRY_DSN=https://your-dsn@sentry.io/project
SENTRY_ORG=fintr
SENTRY_PROJECT=nextjs
SENTRY_AUTH_TOKEN=your-auth-token

# Feature Flags
NEXT_PUBLIC_SHOW_V2=false
NEXT_PUBLIC_ERUDA=false

# Capacitor
CAPACITOR_SERVER_URL=http://localhost:3000
CAPACITOR_CACHE_VERSION=

# E2E Tests
E2E_BE_URL=http://localhost:3000
PLAYWRIGHT_BASE_URL=http://localhost:5173
