---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"individual_detail":{"given_names":"John","surname":"Doe"},"reference_id":"cust-custom-123","email":"test@example.com","type":"INDIVIDUAL","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"28c-CaWIb0dUz5T8eyYeGtFyDy3dX4A"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '59'
      Rate-Limit-Reset:
      - '60'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"INDIVIDUAL","date_of_registration":null,"email":"test@example.com","mobile_number":null,"phone_number":null,"created":"2025-11-24T06:34:24.499Z","updated":"2025-11-24T06:34:24.499Z","description":null,"hashed_phone_number":null,"domicile_of_registration":null,"kyc_documents":[],"id":"cust-846b2572-783d-4b1e-9841-cae9be18ef9e","reference_id":"cust-custom-123","metadata":{},"individual_detail":{"given_names":"John","given_names_non_roman":null,"surname":"Doe","surname_non_roman":null,"nationality":null,"date_of_birth":null,"place_of_birth":null,"gender":null,"employment":null},"business_detail":null,"addresses":[],"identity_accounts":[]}'
  recorded_at: Mon, 24 Nov 2025 06:34:24 GMT
recorded_with: VCR 6.2.0
