---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"individual_detail":{"given_names":"Space","surname":"Owner"},"reference_id":"space-fd1dc71d-1f7d-4fa6-a3eb-7f3c62c1b981-48ea0cbe-732c-45a8-bb8b-a06c0401558f","email":"b09d5e46d8e5@example.com","type":"INDIVIDUAL","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2d7-Qc4g3KwjWaU20hiPFjuNEPm241Y"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '57'
      Rate-Limit-Reset:
      - '58.148'
    body:
      encoding: ASCII-8BIT
      string: '{"type":"INDIVIDUAL","date_of_registration":null,"email":"b09d5e46d8e5@example.com","mobile_number":null,"phone_number":null,"created":"2025-11-24T06:42:08.912Z","updated":"2025-11-24T06:42:08.912Z","description":null,"hashed_phone_number":null,"domicile_of_registration":null,"kyc_documents":[],"id":"cust-4b0f4c35-cb76-411b-8b17-ead7f4dd033f","reference_id":"space-fd1dc71d-1f7d-4fa6-a3eb-7f3c62c1b981-48ea0cbe-732c-45a8-bb8b-a06c0401558f","metadata":{},"individual_detail":{"given_names":"Space","given_names_non_roman":null,"surname":"Owner","surname_non_roman":null,"nationality":null,"date_of_birth":null,"place_of_birth":null,"gender":null,"employment":null},"business_detail":null,"addresses":[],"identity_accounts":[]}'
  recorded_at: Mon, 24 Nov 2025 06:42:08 GMT
- request:
    method: post
    uri: https://api.xendit.co/recurring/plans
    body:
      encoding: UTF-8
      string: '{"reference_id":"sub-fd1dc71d-1f7d-4fa6-a3eb-7f3c62c1b981-54acc329-b1b1-43c8-91b4-9f6b5999f817","customer_id":"cust-4b0f4c35-cb76-411b-8b17-ead7f4dd033f","recurring_action":"PAYMENT","currency":"PHP","amount":14900,"schedule":{"reference_id":"schedule-f87ff7ed-d826-45bf-a301-b47692df50ec","interval":"MONTH","interval_count":1,"total_recurrence":null,"anchor_date":"2025-11-24T06:42:08Z","retry_interval":"DAY","retry_interval_count":1,"total_retry":3,"failed_attempt_notifications":[1,3]},"notification_config":{"locale":"en","recurring_created":["EMAIL"],"recurring_succeeded":["EMAIL"],"recurring_failed":["EMAIL"]},"failed_cycle_action":"STOP","immediate_action_type":"FULL_AMOUNT"}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"580-iZn7fnLCpFk+LDqfpAp1Ncq/Kq0"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '57'
      Rate-Limit-Reset:
      - '58.177'
    body:
      encoding: UTF-8
      string: '{"id":"repl_07075a1a-5650-4b70-b78a-4c98e0c6e204","reference_id":"sub-fd1dc71d-1f7d-4fa6-a3eb-7f3c62c1b981-54acc329-b1b1-43c8-91b4-9f6b5999f817","customer_id":"cust-4b0f4c35-cb76-411b-8b17-ead7f4dd033f","recurring_action":"PAYMENT","failed_cycle_action":"STOP","recurring_cycle_count":0,"currency":"PHP","amount":14900,"status":"REQUIRES_ACTION","created":"2025-11-24T06:42:09.213Z","updated":"2025-11-24T06:42:09.213Z","schedule_id":"resc_c069e7a3-8583-4583-aba9-acc2ecee4b72","payment_methods":[],"schedule":{"id":"resc_c069e7a3-8583-4583-aba9-acc2ecee4b72","reference_id":"schedule-f87ff7ed-d826-45bf-a301-b47692df50ec","business_id":"680827830b93ed4afed7bdcc","interval":"MONTH","interval_count":1,"total_recurrence":null,"anchor_date":"2025-11-24T06:42:08Z","retry_interval":"DAY","retry_interval_count":1,"total_retry":3,"failed_attempt_notifications":[1,3],"created":"2025-11-24T06:42:09.204Z","updated":"2025-11-24T06:42:09.204Z"},"immediate_action_type":"FULL_AMOUNT","notification_config":{"locale":"en","recurring_created":["EMAIL"],"recurring_succeeded":["EMAIL"],"recurring_failed":["EMAIL"]},"metadata":null,"description":null,"actions":[{"url":"https://linking-dev.xendit.co/pali_11e2c7e6-bd3f-4136-a185-7c158841cfca","action":"AUTH","method":"GET","url_type":"WEB"}],"success_return_url":null,"failure_return_url":null,"items":null,"payment_link_for_failed_attempt":false,"failure_code":null}'
  recorded_at: Mon, 24 Nov 2025 06:42:09 GMT
recorded_with: VCR 6.2.0
