---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/recurring/plans
    body:
      encoding: UTF-8
      string: '{"reference_id":"sub-b9656982-bf79-453a-b665-135197cc345b","customer_id":"cust-test-123","recurring_action":"PAYMENT","currency":"PHP","amount":14900,"schedule":{"reference_id":"schedule-test-123","interval":"MONTH","interval_count":1,"total_recurrence":12,"anchor_date":"2025-12-05T07:08:52Z","retry_interval":"DAY","retry_interval_count":1,"total_retry":3,"failed_attempt_notifications":[1,3]},"notification_config":{"locale":"en","recurring_created":["EMAIL"],"recurring_succeeded":["EMAIL"],"recurring_failed":["EMAIL"]},"failed_cycle_action":"STOP","immediate_action_type":"FULL_AMOUNT","payment_link_for_failed_attempt":true}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": "The API key provided is invalid. Please make sure to use
        the secret/public API key that you can obtain from the Xendit Dashboard. See
        https://developers.xendit.co/api-reference/#authentication for more details",
        "error_code":"INVALID_API_KEY"}'
  recorded_at: Fri, 05 Dec 2025 07:08:52 GMT
recorded_with: VCR 6.2.0
