---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/linked_accounts/auth
    body:
      encoding: UTF-8
      string: '{"customer_id":"cust-test-123","type":"DEBIT_CARD","metadata":{"key":"value"}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"NOT_FOUND","message":"The requested resource was not
        found"}'
  recorded_at: Fri, 05 Dec 2025 07:08:52 GMT
recorded_with: VCR 6.2.0
