---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"cust-6566caec-2792-4ad0-aebe-ee753ec3cff0","email":"test-8a4b4e34@example.com","type":"INDIVIDUAL","given_names":"Test","surname":"User","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12e-Qi6pBi1Dpkw3wK1SIkPnUsR0VkY"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '46'
      Rate-Limit-Reset:
      - '5.046'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"message":"\"body.individual_detail\"
        is required","path":["body","individual_detail"],"type":"any.required","context":{"label":"body.individual_detail","key":"individual_detail"}}]}'
  recorded_at: Mon, 24 Nov 2025 05:59:36 GMT
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"space-5c0a1998-8f26-4427-b4ed-1e7b90e4710e-b3c95a3f-f237-4041-8d0b-752326fd68cc","email":"415b9ef8ec41@example.com","type":"INDIVIDUAL","given_names":"Space","surname":"Owner","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12e-Qi6pBi1Dpkw3wK1SIkPnUsR0VkY"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '45'
      Rate-Limit-Reset:
      - '4.882'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"message":"\"body.individual_detail\"
        is required","path":["body","individual_detail"],"type":"any.required","context":{"label":"body.individual_detail","key":"individual_detail"}}]}'
  recorded_at: Mon, 24 Nov 2025 05:59:37 GMT
recorded_with: VCR 6.2.0
