---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"individual_detail":{"given_names":"John","surname":"Doe"},"reference_id":"cust-b6951e95-964b-4eea-a402-66f060b87e23","email":"invalid-email","type":"INDIVIDUAL","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Reset:
      - '60'
      Etag:
      - W/"1f7-dqyMHCoTnMW2SzRaUbXWmxkUoqw"
      Rate-Limit-Remaining:
      - '59'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"message":"\"body.email\"
        with value \"invalid-email\" fails to match the required pattern: /^[-a-z0-9~!$%^&*_=+}{\\''?]+[-a-z0-9~!$%^&*_=+}{\\''?.]*@((\\[[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}\\.[0-9]{1,3}])|(([a-zA-Z\\-0-9]+\\.)+[a-zA-Z]{2,}))$/i","path":["body","email"],"type":"string.pattern.base","context":{"regex":{},"value":"invalid-email","label":"body.email","key":"email"}}]}'
  recorded_at: Fri, 05 Dec 2025 04:55:28 GMT
recorded_with: VCR 6.2.0
