---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/sessions
    body:
      encoding: UTF-8
      string: '{"reference_id":"session-d2e00bb9-1b97-47a3-9a06-9cd429ab5237","customer_id":"cust-test-123","session_type":"PAY","currency":"PHP","amount":14900,"country":"PH","mode":"PAYMENT_LINK","success_redirect_url":"https://example.com/success","failure_redirect_url":"https://example.com/failure","cancel_return_url":"https://example.com/failure","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": "The API key provided is invalid. Please make sure to use
        the secret/public API key that you can obtain from the Xendit Dashboard. See
        https://developers.xendit.co/api-reference/#authentication for more details",
        "error_code":"INVALID_API_KEY"}'
  recorded_at: Fri, 05 Dec 2025 07:08:51 GMT
recorded_with: VCR 6.2.0
