---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"cust-test-123","email":"test@example.com","type":"INDIVIDUAL","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": "The API key provided is invalid. Please make sure to use
        the secret/public API key that you can obtain from the Xendit Dashboard. See
        https://developers.xendit.co/api-reference/#authentication for more details",
        "error_code":"INVALID_API_KEY"}'
  recorded_at: Mon, 24 Nov 2025 05:59:44 GMT
recorded_with: VCR 6.2.0
