---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"space-64286e85-7d44-4dcf-b1da-a7842e75e0d9-25ca7d44-6c2e-4d0b-ae10-983bf16a146a","email":"space-64286e85-7d44-4dcf-b1da-a7842e75e0d9@fintr.app","type":"INDIVIDUAL","given_names":"Space","surname":"Owner","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12e-Qi6pBi1Dpkw3wK1SIkPnUsR0VkY"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '56'
      Rate-Limit-Reset:
      - '59.312'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"message":"\"body.individual_detail\"
        is required","path":["body","individual_detail"],"type":"any.required","context":{"label":"body.individual_detail","key":"individual_detail"}}]}'
  recorded_at: Mon, 24 Nov 2025 05:58:42 GMT
recorded_with: VCR 6.2.0
