---
http_interactions:
- request:
    method: post
    uri: https://api.xendit.co/customers
    body:
      encoding: UTF-8
      string: '{"reference_id":"space-e4b09e78-d62d-4879-8a46-cbf1060be621-76bcb9eb-bc2d-460c-8b12-f10862169f2a","email":"custom@example.com","type":"INDIVIDUAL","given_names":"John","surname":"Doe","metadata":{}}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"12e-Qi6pBi1Dpkw3wK1SIkPnUsR0VkY"
      Rate-Limit-Limit:
      - '60'
      Rate-Limit-Remaining:
      - '57'
      Rate-Limit-Reset:
      - '59.531'
    body:
      encoding: UTF-8
      string: '{"error_code":"API_VALIDATION_ERROR","message":"There was an error
        with the format submitted to the server.","errors":[{"message":"\"body.individual_detail\"
        is required","path":["body","individual_detail"],"type":"any.required","context":{"label":"body.individual_detail","key":"individual_detail"}}]}'
  recorded_at: Mon, 24 Nov 2025 05:58:42 GMT
recorded_with: VCR 6.2.0
