---
http_interactions:
- request:
    method: patch
    uri: https://api.xendit.co/recurring/plans/plan-test-123
    body:
      encoding: UTF-8
      string: '{"amount":20000,"description":"Updated plan"}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message": "The API key provided is invalid. Please make sure to use
        the secret/public API key that you can obtain from the Xendit Dashboard. See
        https://developers.xendit.co/api-reference/#authentication for more details",
        "error_code":"INVALID_API_KEY"}'
  recorded_at: Fri, 05 Dec 2025 07:08:50 GMT
recorded_with: VCR 6.2.0
