---
http_interactions:
- request:
    method: patch
    uri: https://api.xendit.co/recurring/plans/plan-test-123/schedules/schedule-test-123
    body:
      encoding: UTF-8
      string: '{"interval":"YEAR","interval_count":1}'
    headers:
      Authorization:
      - "<XENDIT_API_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"error_code":"NOT_FOUND","message":"The requested resource was not
        found"}'
  recorded_at: Fri, 05 Dec 2025 07:08:51 GMT
recorded_with: VCR 6.2.0
